# Dependencias de Node.js
node_modules/
npm-debug.log

# Variables de entorno (¡NUNCA SUBIR A GITHUB!)
.env

# Archivos de Python / Entornos virtuales (Para tus pruebas con Locust)
__pycache__/
*.pyc
.venv/
venv/
env/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs y bases de datos locales
*.log